html {
    margin: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 412px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

svg {
    width: 50%;
    max-width: 250px;
    margin-bottom: 50px;
}

svg:hover {
    filter: contrast(150%);
    transition: all 0.15s ease-in-out;
    transform: scale(1.3);
}

#slogan {
    text-transform: uppercase;
    text-align: center;
}

#blurb {
    text-align: center;
    padding-bottom: 30px;

}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 40px;
    font-size: 18px;
    border-radius: 8px;
    text-transform: uppercase;
}

/*classes/ids for my animations --- I am going to add them into <g>, some may be for the entire svg, some will be different parts of the svg*/
#charge{}
#charge:hover {
    filter: brightness(1.5);
    filter: invert(50%);
}

#punch{}
#punch:hover {
    animation:cubic-bezier(1, 0, 0, 1)
}

#hue-shift{}
#hue-shift:hover {
    filter: hue-rotate(50%);
}

.shift{}
.shift:hover {
    transform: rotateX('5px') center;
}
.shift-o{}
.shift-o:hover {
    transform: rotateX('-5px') center;
}

/*keyframes I remembered from Justin's class last term :)*/
@keyframes shakeIt {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-7px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(7px);
    }
}

#shake{}
#shake:hover shakeIt {
    animation: shakeIt 0.2s ease-in-out;
}

/*ids for each svg, it is on the <svg>*/

#almond{}

#hazel{}

#pist{}

#maca{}

#almo-v{}

#coco{}


/*text spacing for laptop size*/
@media screen and (min-width: 1200px) { 

    .grid-con { 
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      grid-column-gap: 30px;
      max-width: 1500px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }

 #blurb{
        padding-left: 175px;
        padding-right: 175px;
    }
}